*

!.gitignore
!AGENT_GUIDE.md
!guide/
!guide/**
!engine_plan.md
!progress.md
!srp_progress_handoff.md
!project/
!project/asset/
!project/asset/**
!project/engine/
!project/engine/**
!project/license
!project/license/**
!test/
!test/**
!docs/
!docs/**
!scripts/
!scripts/**
!.github/
!.github/**
!licenses/
!licenses/**
!manifests/
!manifests/**
!package.json
!package-lock.json
!LICENSE
!LICENSE.*
!NOTICE
!NOTICE.*
!THIRD_PARTY_NOTICES
!THIRD_PARTY_NOTICES.*
!README.md
